#details{
	float:left;
	margin-left:50px;
}

#templates{
	float:left; 
	width:150px;
	text-align: left;
}

.templateList{
	list-style-type: none;
	margin-left: 20px;
}

button{
	padding:3px;
}

#messages{
	background-color: orange;
}