<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="templatesApp"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css?v=2">
</head>

<body>

  <div id="container" ng-controller="templateController">
    <header>
		<%= header %>
    </header>
    <div id="main" role="main">
		<div id="large">
			<div class="group">
				<img ng-src="{{mainImageUrl}}" class="template ng-scope" alt="Large Image" width="430" height="360">
				<div class="details">
					<p><strong>Title</strong> {{mainTitle}}</p>
					<p><strong>Description</strong> {{mainDescription}}</p>
					<p><strong>Cost</strong> {{mainCost}}</p>
					<p><strong>ID #</strong> {{mainId}}</p>
				</div>
			</div>
		</div>
		<div class="thumbnails">
			<div class="group">
			 	<ul ng-repeat="template in pagedTemplates">
			 		<a title="{{template.id}}" ng-click="setTemplate(template)">
						<img ng-src="{{ template.thumbnail }}" alt="{{template.id}}-m" width="145" height="121"  ng-class="{'selectedImage':template.isSelected}"/>
						<span ng-class="{'selectedId':template.isSelected}">{{template.id}}</span>
					</a>
			 	</ul>
				<a ng-click="showPagedTemplates(lastPage)" class="previous" title="Previous">Previous</a>
				<a ng-click="showPagedTemplates(nextPage)" class="next" title="Next" ng-hide="LastPage">Next</a>
			</div>
		</div>
    </div>
    <footer>
		<a href="instructions.pdf">Download PDF Instructions</a>
    </footer>
  </div>

  <script src="js/angular/angular.min.js"></script>
  <script src="js/pages/main.js"></script>

</body>
</html>