<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="templatesApp"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>
  <link rel="stylesheet" href="../css/style.css?v=2">
  <link rel="stylesheet" href="../css/edit.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div id="<%= messages ? "messages" : 'no-messages' %>">{{response}}<%= messages %></div>
	<form action="/save/" method="post" enctype="multipart/form-data" encoding="multipart/form-data">
		<div id="container" ng-controller="EditController" style="overflow: auto;">
			 <header>
				<%= header %>
		    </header>
				<div id="templates">
					<b>Add a new template:</b><br>
					<ul class="templateList">
						<li><button type="button" ng-click="newTemplate()">New Template</button></li>
					</ul>
					<br><b>Edit Template id#:</b>
					<ul class="templateList" ng-repeat="template in Templates">
						<li><a href="#" title="{{template.id}}" ng-click="editTemplate(template)">{{template.id}}</a></li>
					</ul>
				</div>
				<div id="details" class="details">
				<p><strong>Title</strong><input type="text" name="title" ng-model="title" required ></p>
				<p><strong>Description</strong> <input type="text" name="description" ng-model="description" required ></p>
				<p><strong>Cost</strong> <input type="text" name="cost" ng-model="cost" required ></p>
				<p><strong>ID #</strong> <input type="text" name="id" ng-model="id" required ng-readonly="!edit"></p>

				<input type="hidden" name="edit" value="{{editTemplate}}">
				<p><img ng-hide="edit"  ng-src="../{{mainThumb}}" style="border:1px solid #ccc"><br>
					Thumbnail image:<br>
					<input type="hidden" name="thumbnail" value="{{mainThumb}}">
					<input type="file" name="thumbnail" value="{{mainThumb}}"></input></p>
				<p><img ng-hide="edit" ng-src="../{{mainLarge}}" width="250" style="border:1px solid #ccc"><br>
					<input type="hidden" name="large" value="{{mainLarge}}">
					Large image:<br>
					<input type="file" name="large" value="{{mainLarge}}"></input></p>
     			<p><input type="submit" value="Save"></input> <button type="button" ng-click="deleteTemplate(result)">Delete</button> <span ng-show="loaded">{{response}}</span></p>
	  				
			</div>
		</div>
	</form>
	
  <script src="../js/angular/angular.min.js"></script>
  <script src="../js/edit/edit.js"></script>

</body>
</html>